<!DOCTYPE html>
<html>
<head>
  <title>Grade Keeper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="gradeKeeper" ng-controller="StudentTestResultsCtrl">
<%= yield %>

</body>
</html>
