<!DOCTYPE html>
<html>
<head>
  <title>Grade Keeper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="gradeKeeper" ng-controller="StudentTestResultsCtrl">

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ui-view></ui-view>

  </div>
</div>


<!--<script type="text/ng-template" id="/studentTestResults.html">-->
  <!--<div class="page-header">-->
    <!--<h1>Grade Keeper</h1>-->
  <!--</div>-->

  <!--<div ng-repeat="student in allStudents">-->
    <!--{{student.studentName}} - Test Score: {{student.testScore}}-->
  <!--</div>-->

  <!--<form ng-submit="addStudent()"-->
        <!--style="margin-top:30px;">-->
    <!--<h3>Add a new students test score</h3>-->

    <!--<div class="form-group">-->
      <!--<input type="text"-->
             <!--class="form-control"-->
             <!--placeholder="Student Name"-->
             <!--ng-model="studentName"></input>-->
      <!--<input type="text"-->
             <!--class="form-control"-->
             <!--placeholder="Test Score"-->
             <!--ng-model="testScore"></input>-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-primary">Add</button>-->
  <!--</form>-->
<!--</script>-->
</body>
</html>
